<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <script src="../static/js/jquery.js"></script> -->


</head>


<body>
<div id="chart" >
    <ul>
        <li><a href="weight500.html">weight500</a></li>
        <li><a href="weight1000.html">weight1000</a></li>
        <li><a href="weight1000DegreeTop10.html">weight1000DegreeTop10</a></li>
        <li><a href="weight1000WeightTop10.html">weight1000WeightTop10</a></li>
        <li><a href="weight2000.html">weight2000</a></li>
        <li><a href="weight2000DegreeTop10.html">weight2000DegreeTop10</a></li>
        <li><a href="weight2000WeightTop10.html">weight2000WeightTop10</a></li>
        <li><a href="weight2000WeightTop10Edges.html">weight2000WeightTop10Edges</a></li>
        <li><a href="bugWeight300.html">bugWeight300</a></li>
        <li><a href="bugWeight500.html">bugWeight500</a></li>
        <li><a href="bugWeight1000.html">bugWeight1000</a></li>
        <li><a href="javaWeight500.html">javaWeight500</a></li>
        <li><a href="javaWeight1000.html">javaWeight1000</a></li>
        <li><a href="javaWeight1500.html">javaWeight1500</a></li>
        <li><a href="srcDegreeTop10.html">srcDegreeTop10</a></li>
        <li><a href="srcWeightTop10.html">srcWeightTop10</a></li>
    </ul>
</div>

</body>
<script>


</script>


</html>