node {
  fill-color: #a1d99b;
  size: 6px;
  text-size: 10;
  text-alignment: at-right;
  text-padding: 2;
  text-background-color: #fff7bc;
}
edge {
  shape: cubic-curve;
  fill-color: #dd1c77;
  z-index: 0;
  size: 0.5px;
  text-background-mode: rounded-box;
  text-background-color: #fff7bc;
  text-alignment: above;
  text-padding: 2;
}